.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.play-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
}

.play-button:hover {
  background-color: #45a049;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: black;
  width: 30%;
  padding: 80px;
  border-radius: 25px;
}

.close-button {
  color: white;
  padding: 10px 20px;
  border: none;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
}

.submit-button:hover {
  background-color: #45a049;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group input:focus {
  outline: none;
  border-color: #4caf50;
}

.form-group input:hover {
  border-color: #4caf50;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
